logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
tmp
.history
dist
/.idea
/*.iml
/out
.target
.cache
bin
.DS_Store
activator-sbt-*-shim.sbt
application.conf
.g8
gradle/
gradlew
gradlew.bat
