@(challengeForm: play.api.data.Form[Challenge])(implicit request: play.api.mvc.RequestHeader, messagesProvider: MessagesProvider, configuration: play.api.Configuration)

@import helper._

@main(title = "Add a Challenge") {
    
    @form(routes.ChallengeController.index()) {
        
        <fieldset>
            @CSRF.formField
            @inputText(challengeForm("repoUrl"), '_label -> "Repo URL", '_help -> "Url of the git repo to pull the latest controller", 'required -> "true")

            @inputText(challengeForm("refId"), '_label -> "Stack exchange ID", '_help -> "StackExchange post to pull submissions from")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this challenge" class="btn primary"> or
            <a href="@routes.ChallengeController.index()" class="btn">Cancel</a>
        </div>
        
    }
    
}
