@(id: Long, challengeForm: play.api.data.Form[Challenge])(implicit request: play.api.mvc.RequestHeader, messagesProvider: MessagesProvider, configuration: play.api.Configuration)

@import helper._

@main(title="Edit") {

    @form(routes.ChallengeController.edit(id)) {

        <fieldset>
            @CSRF.formField
            @inputText(challengeForm("name"), '_label -> "Challenge name", '_help -> "")
            @inputText(challengeForm("introduced"), '_label -> "Introduced date", '_help -> "")
            @inputText(challengeForm("discontinued"), '_label -> "Discontinued date", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this computer" class="btn primary"> or
            <a href="@routes.ChallengeController.index()" class="btn">Cancel</a>
        </div>

    }

}
