@(challenges: scala.List[Challenge])(implicit session: play.api.mvc.Session, request: RequestHeader, messagesProvider: MessagesProvider)

@main(title = "Challenges", back = Some(routes.ChallengeController.index())){

    <div id="actions">
        <label for="searchbox">@Messages("Search:")
            <input type="search" id="searchbox" class="search" placeholder="Challenge Name" />
        </label>

    </div>

    <ul class="challenges list">
        @for(challenge <- challenges) {
            <li>
                <a href="@routes.ChallengeController.view(challenge.id)"><h3>@challenge.name</h3></a>
                <span class="created-at date">@challenge.createdAt.toString)</span>
                <a href="@routes.ChallengeController.view(challenge.owner.id)">@challenge.owner.name</a>
            </li>
        }
    </ul>
}
