@(challenges: scala.List[Challenge])(implicit request: play.api.mvc.RequestHeader, messagesProvider: MessagesProvider, configuration: play.api.Configuration)

@main(title = "Challenges:"){
    <a href="@routes.ChallengeController.create()">New Challenge</a>
    <ul class="challenges list">
        @for(challenge <- challenges) {
            <li>
                <a href="@routes.ChallengeController.view(challenge.id)"><h3>@challenge.name</h3></a>
                <span class="created-at date">@challenge.createdAt.toString)</span>
                <a href="@routes.ChallengeController.view(challenge.owner.id)">@challenge.owner.name</a>
            </li>
        }
    </ul>
}
