@(title: String, back: Option[play.api.mvc.Call] = None)(content: Html)(implicit request: play.api.mvc.RequestHeader, configuration: play.api.Configuration)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/normalize.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/skeleton.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script id="kothcomm-config" type="application/x-configuration">
            {
                "oauthClient": "@configuration.get[String]("oauth.stackexchange.clientId")",
                "oauthRedirect": "@routes.HomeController.auth().absoluteURL()",
                "deauthUrl": "@routes.HomeController.deauth().absoluteURL()"
            }
        </script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" defer async></script>
    </head>
    <body>
        <div class="top-bar">
            <a href="@routes.ChallengeController.index()" class="home dark-link">KotHComm Server</a>
            <div class="user-management u-pull-right">
                @request.session.get("name") match {
                    case Some(name) => {<a class="dark-link" href="@routes.UserController.me()">@name</a> <a href="@routes.HomeController.deauth()" id="logout">Logout</a>}
                    case None => {<button id="login"><img src="@routes.Assets.versioned("images/se-icon.svg")" /> Login</button>}
                }
            </div>
        </div>
        <div class="container">
            <header>
                <h1 class="u-pull-left"> @title </h1>
                @if(back) {
                    <h3 class="u-pull-right">
                        <a href="@back.get">Back</a>
                    </h3>
                }
                <span class="u-cf"></span>
            </header>

            <section id="main">
            @content
            </section>
        </div>
    </body>
</html>
