@(title: String, back: Option[Call] = None)(content: Html)(implicit session: play.api.mvc.Session = play.api.mvc.Session())

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @*************************************
        <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")'>
        
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        *************************************@
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/skeleton.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="user-management u-pull-right">
            @session.get("user").map { user =>
                <a href="@routes.UserController.me()">Welcome, @user</a>
            }.getOrElse{
                <a href="@routes.AuthenticationController.login()">Login</a>
            }
        </div>
        <div class="container">
            <header>
                <h1 class="u-pull-left"> @title </h1>
                @if(back) {
                    <h3 class="u-pull-right">
                        <a href="@back.get">Back</a>
                    </h3>
                }
                <span class="u-cf"></span>
            </header>

            <section id="main">
                @content
            </section>
        </div>
    </body>
</html>
